MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/stayhub
JWT_SECRET=tu_clave_secreta
MP_ACCESS_TOKEN=tu_access_token
EMAIL_USER=correo@ejemplo.com
EMAIL_PASS=tu_password
ADMIN_EMAIL=admin@ejemplo.com
PORT=4000